input {
  font-size: 1.2rem;
}
.keypad {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  gap: .2rem;
  margin: .1rem;
}

.keypad div {
  border: .2rem solid white;
  border-radius: 50%;
}
.keypad div:hover {
  border: .2rem solid red;
  color: red;
  cursor: pointer;
}
